@import "../../sass/_vars";

.welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;
}

.welc-welc {
  color: $text-color;
  font-family: $font-family;
}

.welc-title {
  color: $text-color;
  font-family: $font-family;
}

.welc-dir {
  color: $text-color;
  //   font-family: $font-family;
  font-size: x-small;
}
