@import "../../sass/_vars";

.my-post-main {
  width: 95%;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: $text-color;
  font-size: smaller;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  margin-top: 5px;
  text-decoration: none;
}

// .post-left {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
// }

.my-img-thumb {
  height: 50px;
  width: 90px;
  //   margin-left: 15px;
  margin: 10px;
  border-radius: 5px;
}

.my-post-right {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.my-post-title {
  margin: 5px;
}

.my-post-price {
  margin: 5px;
}

.my-post-content {
  margin: 5px;
}

// .delete-post {
//   margin: 5px;
//   display: flex;
//   // justify-content: flex-end;
// }
